<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
<form action="#" th:action="@{/}" th:object="${person}" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{firstName}"/></td>
      <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{lastName}"/></td>
      <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input type="text" th:field="*{age}"/></td>
      <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
    </tr>
    <tr>
      <td>Mark:</td>
      <td><input type="text" th:field="*{mark}"/></td>
      <td th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}">mark Error</td>
    </tr>
    <tr>
      <td>Education:</td>
      <td><input type="checkbox" th:field="*{education}"/></td>
      <td th:if="${#fields.hasErrors('education')}" th:errors="*{education}">Education Error</td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><input type="text" th:field="*{category}"/></td>
      <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>